
ul.facebook-feed {
	 list-style-type: none; 
	 margin: 0; 
	 padding: 0;
	 background: none; 
	 overflow:hidden;
	  background: #fff;
    border: 1px solid #c4cde0;
    border-radius: 3px;
    padding: 3px 0px 2px 3px;
    z-index: 1;
	 }
#block-facebook-medtronic-facebook-medtronic-default a.see_more {
	margin: 0px auto;
  display: block; 
	text-align: center;
}
ul.facebook-feed li { 
	list-style-type: none; margin: 0; padding: 0; float:left;width:32%; height:150px;margin: 2px 3px 3px 2px;
}
ul.facebook-feed li i{ 
   background-position: 50% 25%;
   background-size: cover;
	 width:100%;
	 height:150px;
	 display: block;
	 border: 1px solid rgba(0, 0, 0, .1);
 }

 ul.facebook-feed li a{ 
	border: none;

  padding: 0;
}
ul.facebook-feed .facebook-feed-picture { float: left; margin-right: 5px; margin-bottom: 2px; }
ul.facebook-feed .facebook-feed-from { font-weight: bold; }
ul.facebook-feed .facebook-feed-from a { color: #3B5998; }
ul.facebook-feed .facebook-feed-time { display: block; color: #666; clear: both; }
@media all and (max-width: 420px) {
	ul.facebook-feed li {height:125px;}
}
@media all and (max-width: 370px) {
	ul.facebook-feed li {height:115px;}
}
@media all and (max-width: 321px) {
	ul.facebook-feed li {height:100px;}
}
